/* Copyright (C) 2024 2to11 contributors
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>
 */

/**
 * CSS style 
 **/

:root {
  --text-color: #776e65;
  --background-color: #faf8ef;

  --highlight-background-color: #bbada0;
  --highlight-text-color: #f9f6f2;
}

/* Make sure focused elements are prominent. */
:focus {
  outline: black dashed thin;
}
::root.dark :focus {
  outline: white dashed thin;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #776e65;
    --background-color: #faf8ef;
  
    --highlight-background-color: #bbada0;
    --highlight-text-color: #f9f6f2;
  }
  :root.dark {
    --text-color: #88919a;
    --background-color: #050710;

    --highlight-background-color: #44525f;
    --highlight-text-color: #06090d;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #88919a;
    --background-color: #050710;

    --highlight-background-color: #44525f;
    --highlight-text-color: #06090d;
  }
  :root.light {
    --text-color: #776e65;
    --background-color: #faf8ef;
  
    --highlight-background-color: #bbada0;
    --highlight-text-color: #f9f6f2;
  }

  :focus {
    outline: white dashed thin;
  }
  :root.light :focus {
    outline: black dashed thin;
  }
}

@media (prefers-contrast: more) {
  :root {
    --text-color: black;
    --background-color: white;

    --highlight-text-color: white;
    --highlight-background-color: black;
  }
}

html {
  /* These are the fonts used by the original game. */
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  /* This is an easy way of centering the page. If the viewport gets any
   * smaller, it will just not have margins on the side.
   */
  max-width: 500px;

  margin: 0 auto;
  padding: 1em;
}

details {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;

  cursor: pointer;

  border: none;
}

input[type="number"] {
  padding: 0.5em;
  width: 5em;

  border: none;
  border-radius: 5px;

  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);
}

.small-radio {
  display: flex;

  justify-content: space-between;
  gap: 1em;
}

.small-radio > label {
  padding: 0.5em;
  border-radius: 5px;

  flex-grow: 1;

  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);

  font-weight: bold;
}

body > footer {
  font-size: 0.8rem;

  border-top: 1px solid var(--text-color);
}

.game section, button {
  padding: 1ch;

  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);

  border-radius: 5px;
}

.game > * {
  margin-bottom: 1em;
}

.game > .top-bar {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;


  color: white;
}

.game > .top-bar > * {
  flex-grow: 1;
}

.game > .settings {
  padding: 1em;
  border-radius: 5px;

  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);
}

.game > .settings.hidden {
  display: none;
}

.game > .settings > label {
  display: flex;

  margin-top: 1em;

  justify-content: space-between;
  align-items: center;

  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 5px;

  padding: 0.5em;
}

.score-container {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1em;
}

.score {
  flex: 1;

  font-weight: bold;

  text-align: center;
  color: #eee4da;
}

.score > .score-label {
  display: block;

  text-transform: uppercase;
}

.score > .score-count {
  font-size: 1.4em;

  color: white;
}

#gameContainer {
  position: relative;
}

button.undo {
  box-shadow: 0 0 5px black;

  opacity: 0.5;

  transition: all 0.1s ease-in-out;
}

button.undo:focus, button.undo.show {
  opacity: 1;

  font-size: 150%;
  padding: 1.5ch;
}

button.undo.hidden {
  display: none;
}

#gameContainer button.undo {
  position: absolute;
  bottom: 0;
  right: 0;
}

#gameContainer > canvas {
  display: block;
  width: 100%;

  background-color: var(--highlight-background-color);

  /* Prevent zooming and panning on the canvas, as we already use touch for swiping. */
  touch-action: none;
}

.game > footer {
  font-size: 0.8rem;
}
